*
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SFProNegrito;
    src: url(font/sfprodisplay.OTF);
}

@font-face {
    font-family: SFProDisplay;
    src: url(font/SFProDisplay-Thin.ttf);
}

#africano {
    position: relative;
    width: 1165px;
    height: 423px;
    top: 51px;
}

#p1 {
    position: absolute;
    width: 479px;
    height: 124px;
    left: 400px;
    top: 178px;
    margin: 0px;
    font-family: SFProDisplay;
    font-weight: 10;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

span {
    font-family: SFProNegrito;
    font-weight: 700;
}

#p2 {
    position: absolute;
    width: 438.91px;
    height: 19.63px;
    left: 400px;
    top: 313.37px;
    margin: 0px;
    font-family: SFProDisplay;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 21px;
}

#learnmore {
    position: absolute;
    width: 74px;
    height: 14px;
    left: 400px;
    top: 376px;
    margin: 0px;
    font-family: SFProDisplay;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

button {
    position: absolute;
    width: 157px;
    height: 36px;
    left: 500px;
    top: 364px;
    padding: 0px;
    font-family: SFProDisplay;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.9);
    background: linear-gradient(249.33deg, rgba(139, 184, 199, 0.97) -0.93%, rgba(130, 170, 183, 0) 105.52%);    border-radius: 20px;
    border: none;
}

/*Inicio -- Jeremias*/
body {
    position: relative;
    background: linear-gradient(249.33deg, rgba(139, 184, 199, 0.97) -0.93%, rgba(130, 170, 183, 0) 105.52%);
    margin: 0;
    padding: 0;

}
#website
{
    text-align: center;
}

.container {
    position: absolute;
    border-style: none;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    left: 250px;
    width: 1165px;
}

.container #logo {
    position: absolute;
    width: 30px;
    height: 32px;
    left: 23px;

}

.container #hng {
    font-family: SFProNegrito;
    color: rgba(0, 0, 0, 0.7);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    width: 290.86px;
    height: 40.42px;
    left: 64px;
}

.container #home {
    font-family: SFProNegrito;
    position: absolute;
    width: 47px;
    left: 453px;
    top: 12px;

}

.container #blog {
    font-family: SFProNegrito;
    position: absolute;
    left: 540px;
    top: 12px;
}

.container #events {
    font-family: SFProNegrito;
    position: absolute;
    left: 626px;
    top: 12px;

}

.container #abouts {
    font-family: SFProNegrito;
    position: absolute;
    left: 729px;
    top: 12px;

}

.container #login {
    font-family: SFProNegrito;
    position: absolute;
    left: 900px;
    width: 40px;
    color: black;
    top: 12px;
    border-style: none;
    background-color: none;
    border-radius: 15px;
    top: 8px;
    width: 80px;
    height: 24px;
    font-size: 10px;
}

.container #to {
    position: absolute;
    width: 5px;
    height: 14px;
    left: 995px;
    top: 12px;
    line-height: 14px;
}

.container #register {
    font-family: SFProNegrito;
    position: absolute;
    left: 1007px;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    top: 8px;
    width: 80px;
    height: 24px;
    border-style: none;
    font-size: 10px;
}

#register:hover {
    cursor: pointer;
}

#login:hover {
    cursor: pointer;
}

/*Fim -- Jeremias*/

.rodape1
{
        
    font-family: SFProDisplay;
    position: absolute;
    top: 520px;
    left: 400px;
    width: 1200px;
    height: 45px;

}
#pa1
{
    position: absolute;
    width: 132.89px;
    font-size: 12px;
}
#pa2
{
    position: absolute;
    width: 135.09px;
    font-size: 12px;
    left: 950px;
}
.rodape2
{
    text-align: center;
    font-family: SFProDisplay;
    position: absolute;
    background-color: #d1d1d1;
    width: 1165px;
    height: 95px;
    left: 350px;
    top: 572px;
}
#pa3
{
    position: absolute;
    top: 62px;
    width: 450px;
    height:14px;
    left: 1px;

}
#pa4
{
    position: absolute;
    width: 75.86px;
    height: 14px;
    left: 1047.14px;
    top: 63px;
    text-transform: uppercase;
}