#footer1 {
    position: absolute;
    height: 42px;
    width: 1017px;
    left: 76px;
    top: 497px;
}

#primeirop {
    position: absolute;
    width: 132.89px;
    height: 42px;
    left: 76px;
    top: 497px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;

    color: #000000;

}

#segundop {
    position: absolute;
    width: 351.89px;
    height: 28px;
    left: 957.91px;
    top: 507px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;

    color: #000000;

}

#footer2 {
    position: absolute;
    width: 1062px;
    height: 15px;
    left: 61px;
    top: 629px;
}

#terceirop {
    position: absolute;
    width: 351.89px;
    height: 42px;
    left: 76px;
    top: 497px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;

    color: #000000;

}

#quartop {
    position: absolute;
    width: 135.09px;
    height: 28px;
    left: 957.91px;
    top: 507px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}